
*.db
*.db-shm
*.db-wal
*.opendb
*.sln
*.vcxproj
*.filters
*.user
.vs/Neural-Net/v16/.suo
*.ipch
*.obj
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
Debug/Neural-Net.vcxproj.FileListAbsolute.txt
Debug/vc142.idb
